Patient Health Analytics — Full Dashboard & Email Report.json
{
  "name": "🏥 Patient Health Analytics — Full Dashboard & Email Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "ff5fc7bb-c0fe-4396-8bff-1e1388eb973e",
      "name": "⏰ Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1808,
        144
      ],
      "notes": "USER SETUP:\n────────────────────────────\n• Default: Mon–Fri at 8:00 AM\n• To change: edit cronExpression\n  Every day 9AM  → 0 9 * * *\n  Every Monday   → 0 8 * * 1\n  Twice daily    → 0 8,17 * * *\n• Set timezone in Workflow Settings (⚙️)\n  e.g. Asia/Kolkata, America/New_York\n• Click ▶ Execute Workflow to test now"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hCAPdJr4jJvBt-zATn5HHae-35PvDDTlOZXVEpSCZ4I",
          "mode": "list",
          "cachedResultName": "Health",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hCAPdJr4jJvBt-zATn5HHae-35PvDDTlOZXVEpSCZ4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hCAPdJr4jJvBt-zATn5HHae-35PvDDTlOZXVEpSCZ4I/edit#gid=0"
        },
        "options": {}
      },
      "id": "94eff67a-b386-4cf5-8509-09ec5ac95ec6",
      "name": "📋 Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1568,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jYFD8T8436IbXqNP",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "USER SETUP:\n────────────────────────────\n1. CREDENTIAL:\n   • Settings → Credentials → + New\n   • Choose: Google Sheets OAuth2 API\n   • Click Sign in with Google → Allow\n   • Save as 'Google Sheets OAuth2'\n\n2. SHEET ID:\n   • Open Google Sheet in browser\n   • Copy from URL:\n     .../spreadsheets/d/[COPY_THIS]/edit\n   • Paste into Document ID field\n\n3. TAB:\n   • gid=0 = first tab (default)\n   • Or switch mode to 'By Name'\n     and type your sheet tab name\n\n4. SHEET FORMAT:\n   • Row 1 = Column Headers (required)\n   • Any column names work!\n   • No empty rows in data"
    },
    {
      "parameters": {
        "jsCode": "// ╔══════════════════════════════════════════════════════════╗\n// ║   NODE 3: AUTO-DETECT ALL COLUMNS + FULL STATISTICS     ║\n// ║   Works with ANY Google Sheet — no config needed        ║\n// ╚══════════════════════════════════════════════════════════╝\n\nconst allItems = $input.all();\n\nif (!allItems || allItems.length === 0) {\n  throw new Error('No data from Google Sheets. Check: Sheet ID, credential access, and that Row 1 has headers.');\n}\n\nconst rows = allItems.map(i => i.json).filter(r => r && Object.keys(r).filter(k => r[k] !== '' && r[k] !== null).length > 0);\n\nif (rows.length === 0) {\n  throw new Error('Sheet has no valid data rows. Ensure data starts from Row 2.');\n}\n\nconst columns = Object.keys(rows[0]);\nconst total = rows.length;\n\n// ── TYPE DETECTION ──────────────────────────────────────────\nconst toNum = v => parseFloat(String(v || '').replace(/[,%$]/g, ''));\nconst isNum = v => v !== '' && v !== null && v !== undefined && !isNaN(toNum(v)) && String(v).trim() !== '';\nconst isDate = v => /\\d{1,4}[\\/-]\\d{1,2}[\\/-]\\d{2,4}/.test(String(v));\n\nconst numCols = [], catCols = [], dateCols = [];\n\ncolumns.forEach(col => {\n  const vals = rows.map(r => r[col]).filter(v => v !== '' && v !== null && v !== undefined);\n  if (vals.length === 0) return;\n  const numRatio = vals.filter(v => isNum(v)).length / vals.length;\n  const dateRatio = vals.filter(v => isDate(v)).length / vals.length;\n  if (numRatio >= 0.7) numCols.push(col);\n  else if (dateRatio >= 0.5) dateCols.push(col);\n  else catCols.push(col);\n});\n\n// ── NUMERIC STATS ────────────────────────────────────────────\nconst numStats = {};\nnumCols.forEach(col => {\n  const vals = rows.map(r => toNum(r[col])).filter(v => !isNaN(v));\n  if (!vals.length) return;\n  vals.sort((a, b) => a - b);\n  const n = vals.length;\n  const sum = vals.reduce((a, b) => a + b, 0);\n  const mean = sum / n;\n  const med = n % 2 === 0 ? (vals[n/2-1] + vals[n/2]) / 2 : vals[Math.floor(n/2)];\n  const std = Math.sqrt(vals.reduce((a, v) => a + (v - mean) ** 2, 0) / n);\n  numStats[col] = {\n    count: n, missing: total - n,\n    min: +vals[0].toFixed(2), max: +vals[n-1].toFixed(2),\n    mean: +mean.toFixed(2), median: +med.toFixed(2),\n    std: +std.toFixed(2),\n    q1: +vals[Math.floor(n*0.25)].toFixed(2),\n    q3: +vals[Math.floor(n*0.75)].toFixed(2),\n    completeness: +((n/total)*100).toFixed(1)\n  };\n});\n\n// ── CATEGORICAL STATS ────────────────────────────────────────\nconst catStats = {};\ncatCols.forEach(col => {\n  const freq = {};\n  rows.forEach(r => {\n    const v = String(r[col] || 'Unknown').trim();\n    freq[v] = (freq[v] || 0) + 1;\n  });\n  const sorted = Object.entries(freq).sort((a, b) => b[1] - a[1]);\n  catStats[col] = {\n    unique: sorted.length,\n    missing: rows.filter(r => !r[col] || r[col] === '').length,\n    completeness: +((rows.filter(r => r[col] && r[col] !== '').length / total) * 100).toFixed(1),\n    topValues: sorted.slice(0, 10).map(([value, count]) => ({ value, count, pct: +((count/total)*100).toFixed(1) }))\n  };\n});\n\n// ── DETECT SPECIAL COLUMNS ───────────────────────────────────\nconst findCol = (keywords) => columns.find(c => keywords.some(k => c.toLowerCase().includes(k)));\nconst riskCol   = findCol(['risk','severity','status','level','priority','stage','condition','grade']);\nconst nameCol   = findCol(['name','patient','person','subject','client']);\nconst ageCol    = numCols.find(c => c.toLowerCase().includes('age'));\nconst genderCol = catCols.find(c => c.toLowerCase().includes('gender') || c.toLowerCase().includes('sex'));\nconst diagCol   = catCols.find(c => c.toLowerCase().includes('diagnosis') || c.toLowerCase().includes('condition') || c.toLowerCase().includes('disease'));\nconst doctorCol = catCols.find(c => c.toLowerCase().includes('doctor') || c.toLowerCase().includes('physician') || c.toLowerCase().includes('provider'));\n\n// ── ANOMALY DETECTION (>2σ) ──────────────────────────────────\nconst anomalies = [];\nObject.entries(numStats).forEach(([col, s]) => {\n  if (s.std === 0) return;\n  rows.forEach(r => {\n    const v = toNum(r[col]);\n    if (!isNaN(v) && Math.abs(v - s.mean) > 2 * s.std) {\n      anomalies.push({\n        record: nameCol ? String(r[nameCol] || 'Unknown') : 'Record',\n        col, value: v, mean: s.mean,\n        sigma: +((v - s.mean) / s.std).toFixed(1)\n      });\n    }\n  });\n});\nconst topAnomalies = anomalies.sort((a,b) => Math.abs(b.sigma)-Math.abs(a.sigma)).slice(0, 8);\n\n// ── OVERALL COMPLETENESS ─────────────────────────────────────\nlet filled = 0, totalF = 0;\nrows.forEach(r => columns.forEach(c => { totalF++; if (r[c] !== '' && r[c] !== null && r[c] !== undefined) filled++; }));\nconst completeness = +((filled/totalF)*100).toFixed(1);\n\n// ── CHART DATA PREPARATION ───────────────────────────────────\n// Each chart is pre-built as data arrays for Chart.js\nconst charts = {};\n\n// Chart A: Primary categorical (doughnut)\nconst primaryCat = riskCol || diagCol || genderCol || catCols[0];\nif (primaryCat && catStats[primaryCat]) {\n  charts.doughnut = { col: primaryCat, labels: catStats[primaryCat].topValues.slice(0,7).map(v=>v.value), values: catStats[primaryCat].topValues.slice(0,7).map(v=>v.count) };\n}\n\n// Chart B: Second categorical (horizontal bar)\nconst secondCat = catCols.find(c => c !== primaryCat) || catCols[1];\nif (secondCat && catStats[secondCat]) {\n  charts.hbar = { col: secondCat, labels: catStats[secondCat].topValues.slice(0,8).map(v=>v.value), values: catStats[secondCat].topValues.slice(0,8).map(v=>v.count) };\n}\n\n// Chart C: Age / primary numeric histogram\nif (ageCol && numStats[ageCol]) {\n  const s = numStats[ageCol];\n  const bkt = Math.max(1, Math.ceil((s.max - s.min) / 7));\n  const buckets = {};\n  rows.forEach(r => {\n    const v = toNum(r[ageCol]);\n    if (!isNaN(v)) {\n      const k = Math.floor((v - s.min) / bkt) * bkt + s.min;\n      const label = `${k}-${k+bkt}`;\n      buckets[label] = (buckets[label]||0) + 1;\n    }\n  });\n  charts.histogram = { col: ageCol, labels: Object.keys(buckets), values: Object.values(buckets) };\n}\n\n// Chart D: Second numeric histogram\nconst num2Col = numCols.find(c => c !== ageCol);\nif (num2Col && numStats[num2Col]) {\n  const s = numStats[num2Col];\n  const bkt = Math.max(1, Math.ceil((s.max - s.min) / 6));\n  const bkts = {};\n  rows.forEach(r => {\n    const v = toNum(r[num2Col]);\n    if (!isNaN(v)) {\n      const k = Math.floor((v - s.min) / bkt) * bkt + s.min;\n      bkts[`${k}-${k+bkt}`] = (bkts[`${k}-${k+bkt}`]||0) + 1;\n    }\n  });\n  charts.histogram2 = { col: num2Col, labels: Object.keys(bkts), values: Object.values(bkts) };\n}\n\n// Chart E: Gender (pie) if available\nif (genderCol && catStats[genderCol]) {\n  charts.pie = { col: genderCol, labels: catStats[genderCol].topValues.slice(0,5).map(v=>v.value), values: catStats[genderCol].topValues.slice(0,5).map(v=>v.count) };\n}\n\n// Chart F: Min/Mean/Max grouped bar across numeric columns\nif (numCols.length >= 2) {\n  const top5 = numCols.slice(0, 5);\n  charts.grouped = { labels: top5, mins: top5.map(c=>numStats[c]?.min||0), means: top5.map(c=>numStats[c]?.mean||0), maxs: top5.map(c=>numStats[c]?.max||0) };\n}\n\n// Chart G: Doctor/Provider distribution (if exists)\nif (doctorCol && catStats[doctorCol]) {\n  charts.doctor = { col: doctorCol, labels: catStats[doctorCol].topValues.slice(0,6).map(v=>v.value), values: catStats[doctorCol].topValues.slice(0,6).map(v=>v.count) };\n}\n\nreturn [{ json: {\n  meta: { total, columns, numCols, catCols, dateCols, completeness, riskCol, nameCol, ageCol, genderCol, diagCol, doctorCol, reportId: `RPT-${Date.now()}`, ts: new Date().toISOString() },\n  numStats, catStats, charts, topAnomalies, rows: rows.slice(0,5)\n}}];"
      },
      "id": "25de3b9a-41d6-4d04-9a45-6e3c1576f8d3",
      "name": "🔍 Analyze All Columns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        144
      ],
      "notes": "USER SETUP: None required.\nAuto-detects every column, computes full stats,\nprepares 7 chart datasets, finds anomalies."
    },
    {
      "parameters": {
        "jsCode": "// ╔══════════════════════════════════════════════════════════╗\n// ║   NODE 4: BUILD AI PROMPT FROM DETECTED DATA            ║\n// ╚══════════════════════════════════════════════════════════╝\n\nconst d = $input.first().json;\nconst { meta, numStats, catStats, topAnomalies } = d;\n\nconst numSummary = Object.entries(numStats).map(([c,s]) =>\n  `${c}: min=${s.min}, max=${s.max}, mean=${s.mean}, median=${s.median}, std=${s.std}, missing=${s.missing}`\n).join('\\n') || 'No numeric columns';\n\nconst catSummary = Object.entries(catStats).map(([c,s]) =>\n  `${c} (${s.unique} values): ${s.topValues.slice(0,5).map(v=>`${v.value}=${v.count}(${v.pct}%)`).join(', ')}`\n).join('\\n') || 'No categorical columns';\n\nconst anomSummary = topAnomalies.length > 0\n  ? topAnomalies.map(a => `  ${a.record}: ${a.col}=${a.value} (${a.sigma}σ from mean ${a.mean})`).join('\\n')\n  : '  None detected';\n\nconst prompt = `You are a senior clinical informatics analyst. Analyze ${meta.total} patient health records.\n\nCOLUMNS (${meta.columns.length}): ${meta.columns.join(', ')}\nDATA COMPLETENESS: ${meta.completeness}%\n\nNUMERIC STATISTICS:\n${numSummary}\n\nCATEGORICAL BREAKDOWN:\n${catSummary}\n\nOUTLIERS/ANOMALIES (>2 std deviations):\n${anomSummary}\n\nRespond ONLY with valid JSON (no markdown, no extra text) using EXACTLY this structure:\n{\n  \"summary\": \"3-paragraph executive health summary covering population status, data quality, and critical patterns\",\n  \"dataQuality\": {\"score\": \"94%\", \"grade\": \"Excellent|Good|Fair|Poor\", \"issues\": [\"string\"], \"fixes\": [\"string\"]},\n  \"findings\": [{\"title\": \"string\", \"detail\": \"string\", \"severity\": \"critical|warning|info\"}],\n  \"risk\": {\"score\": 7, \"level\": \"High|Medium|Low\", \"trend\": \"Increasing|Stable|Decreasing\", \"factors\": [\"string\"], \"groups\": [\"string\"]},\n  \"insights\": [{\"col\": \"column name\", \"finding\": \"what the data shows\", \"action\": \"what to do\"}],\n  \"alerts\": [{\"who\": \"record identifier\", \"issue\": \"specific concern\", \"action\": \"what to do\", \"urgency\": \"immediate|soon|monitor\"}],\n  \"predictions\": [{\"outcome\": \"string\", \"probability\": \"65%\", \"basis\": \"string\", \"timeframe\": \"3 months\", \"prevention\": \"string\"}],\n  \"recommendations\": [{\"priority\": \"high|medium|low\", \"category\": \"string\", \"rec\": \"specific recommendation\", \"rationale\": \"evidence\", \"impact\": \"expected result\", \"when\": \"timeline\"}],\n  \"segments\": [{\"name\": \"string\", \"size\": \"string\", \"traits\": \"string\", \"needs\": \"string\"}],\n  \"ops\": {\"staffing\": \"string\", \"resources\": \"string\", \"improvements\": [\"string\"]},\n  \"conclusion\": \"2-paragraph conclusion with overall assessment and top 3 priorities\"\n}`;\n\nreturn [{ json: { ...d, prompt } }];"
      },
      "id": "f02c8953-7018-4567-9897-0f437f2f6338",
      "name": "📝 Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        144
      ],
      "notes": "USER SETUP: None required.\nDynamically builds analysis prompt from\nwhatever columns your sheet contains."
    },
    {
      "parameters": {
        "jsCode": "// ╔══════════════════════════════════════════════════════════╗\n// ║   NODE 6: PARSE AI RESPONSE — FULL GRACEFUL FALLBACK    ║\n// ╚══════════════════════════════════════════════════════════╝\n\nconst resp = $input.first().json;\nconst prev = $('📝 Build AI Prompt').first().json;\nconst { meta, numStats, catStats, charts, topAnomalies } = prev;\n\nlet ai = null;\ntry {\n  let raw = resp?.choices?.[0]?.message?.content\n         || resp?.content?.[0]?.text\n         || (typeof resp === 'string' ? resp : JSON.stringify(resp));\n  raw = raw.replace(/^```json\\s*/gi,'').replace(/^```\\s*/gi,'').replace(/\\s*```$/gi,'').trim();\n  ai = JSON.parse(raw);\n} catch(e) {\n  // Full fallback — workflow never fails\n  ai = {\n    summary: `Analysis of ${meta.total} records across ${meta.columns.length} columns completed. Data completeness is ${meta.completeness}%. ${meta.numCols.length} numeric metrics and ${meta.catCols.length} categorical dimensions were analyzed. Statistical processing identified ${topAnomalies.length} outliers requiring review.`,\n    dataQuality: { score: meta.completeness+'%', grade: meta.completeness>=90?'Excellent':meta.completeness>=75?'Good':'Fair', issues: [], fixes: [] },\n    findings: [{ title: 'Dataset Processed Successfully', detail: `${meta.total} records, ${meta.columns.length} columns, ${topAnomalies.length} anomalies detected.`, severity: 'info' }],\n    risk: { score: 5, level: 'Medium', trend: 'Stable', factors: ['Review flagged anomalies'], groups: [] },\n    insights: Object.keys(numStats).slice(0,3).map(c => ({ col: c, finding: `Mean: ${numStats[c].mean}, Range: ${numStats[c].min}–${numStats[c].max}`, action: 'Monitor values outside normal range' })),\n    alerts: topAnomalies.slice(0,4).map(a => ({ who: a.record, issue: `${a.col} = ${a.value} (${a.sigma}σ from mean)`, action: 'Clinical review recommended', urgency: Math.abs(a.sigma)>3?'immediate':'monitor' })),\n    predictions: [],\n    recommendations: [{ priority: 'high', category: 'Data Quality', rec: 'Review records with missing fields', rationale: `${100-meta.completeness}% data missing`, impact: 'Improved analytical accuracy', when: 'This week' }],\n    segments: [],\n    ops: { staffing: 'Standard staffing levels appropriate', resources: 'No immediate reallocation needed', improvements: ['Complete missing data fields'] },\n    conclusion: `Report generated from ${meta.total} records. Statistical analysis is complete and accurate. Clinical AI narrative was unavailable this run — all chart and table data is valid.`\n  };\n}\n\nconst now = new Date();\nreturn [{ json: {\n  ai,\n  meta, numStats, catStats, charts, topAnomalies,\n  rpt: {\n    id: meta.reportId,\n    date: now.toLocaleDateString('en-US',{weekday:'long',year:'numeric',month:'long',day:'numeric'}),\n    time: now.toLocaleTimeString('en-US',{hour:'2-digit',minute:'2-digit',hour12:true}),\n    iso: now.toISOString()\n  }\n}}];"
      },
      "id": "2ef1c37c-5e38-4bbb-8c3b-b1dfd7a0dc3c",
      "name": "🔄 Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        144
      ],
      "notes": "USER SETUP: None required.\nFull graceful fallback — report always\ngenerates even if AI call fails."
    },
    {
      "parameters": {
        "jsCode": "// ╔══════════════════════════════════════════════════════════╗\n// ║   NODE 7: BUILD STUNNING HTML DASHBOARD                 ║\n// ║   Charts: Doughnut, Pie, Horizontal Bar, Vertical Bar,  ║\n// ║           Histogram x2, Grouped Bar, Radar, Polar Area  ║\n// ╚══════════════════════════════════════════════════════════╝\n\nconst { ai, meta, numStats, catStats, charts, topAnomalies, rpt } = $input.first().json;\n\nconst safe = (v, fb='N/A') => (v!==null&&v!==undefined&&v!=='') ? v : fb;\nconst clamp = (v,a,b) => Math.min(Math.max(Number(v)||0,a),b);\nconst pct = (a,b) => b>0 ? ((a/b)*100).toFixed(1) : '0.0';\nconst sc = (s) => ({critical:'#ff4757',warning:'#ffa502',info:'#1e90ff',high:'#ff4757',medium:'#ffa502',low:'#2ed573',immediate:'#ff4757',soon:'#ffa502',monitor:'#1e90ff'})[String(s||'').toLowerCase()]||'#636e72';\n\nconst riskScore = clamp(ai.risk?.score||5, 1, 10);\nconst riskPct = riskScore*10;\nconst riskClr = riskScore>=7?'#ff4757':riskScore>=4?'#ffa502':'#2ed573';\n\n// ── PALETTE ──────────────────────────────────────────────────\nconst P = ['#00d2ff','#a29bfe','#fd79a8','#fdcb6e','#55efc4','#e17055','#74b9ff','#ff7675','#00cec9','#6c5ce7','#fab1a0','#81ecec'];\nconst PA = (i, alpha=0.85) => { const c=P[i%P.length]; const r=parseInt(c.slice(1,3),16),g=parseInt(c.slice(3,5),16),b=parseInt(c.slice(5,7),16); return `rgba(${r},${g},${b},${alpha})`; };\n\n// ── CHART BUILDER FUNCTION ───────────────────────────────────\n// Returns an HTML <canvas> block with inline Chart.js config\nconst makeChart = (id, config) => `\n<div class=\"chart-card\">\n  <canvas id=\"c${id}\"></canvas>\n  <script>(function(){try{new Chart(document.getElementById('c${id}').getContext('2d'),${JSON.stringify(config)});}catch(e){document.getElementById('c${id}').parentElement.innerHTML='<div class=\"chart-err\">Chart unavailable</div>';}}());</script>\n</div>`;\n\n// ── BUILD INDIVIDUAL CHARTS ──────────────────────────────────\nconst chartHTML = [];\n\n// 1. DOUGHNUT — Primary categorical\nif (charts.doughnut) {\n  const { col, labels, values } = charts.doughnut;\n  chartHTML.push(makeChart('dnut', {\n    type: 'doughnut',\n    data: { labels, datasets: [{ data: values, backgroundColor: labels.map((_,i)=>PA(i)), borderColor: '#0d1117', borderWidth: 3, hoverOffset: 12 }] },\n    options: { responsive:true, cutout:'65%', plugins: { legend:{ position:'bottom', labels:{color:'#e2e8f0',font:{size:11},padding:10,boxWidth:12}}, title:{display:true,text:col+' Distribution',color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} } }\n  }));\n}\n\n// 2. PIE — Gender or second categorical\nif (charts.pie) {\n  const { col, labels, values } = charts.pie;\n  chartHTML.push(makeChart('pie', {\n    type: 'pie',\n    data: { labels, datasets: [{ data: values, backgroundColor: labels.map((_,i)=>PA(i+3)), borderColor:'#0d1117', borderWidth:3, hoverOffset:10 }] },\n    options: { responsive:true, plugins:{ legend:{position:'bottom',labels:{color:'#e2e8f0',font:{size:11},padding:10,boxWidth:12}}, title:{display:true,text:col,color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} } }\n  }));\n}\n\n// 3. HORIZONTAL BAR — Category breakdown\nif (charts.hbar) {\n  const { col, labels, values } = charts.hbar;\n  chartHTML.push(makeChart('hbar', {\n    type: 'bar',\n    data: { labels, datasets: [{ label: 'Count', data: values, backgroundColor: labels.map((_,i)=>PA(i,0.8)), borderColor: labels.map((_,i)=>P[i%P.length]), borderWidth:1, borderRadius:6 }] },\n    options: { indexAxis:'y', responsive:true, plugins:{ legend:{display:false}, title:{display:true,text:col+' Breakdown',color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} }, scales:{ x:{ticks:{color:'#94a3b8'},grid:{color:'rgba(255,255,255,0.06)'}}, y:{ticks:{color:'#cbd5e1',font:{size:11}},grid:{display:false}} } }\n  }));\n}\n\n// 4. VERTICAL BAR — Histogram for primary numeric\nif (charts.histogram) {\n  const { col, labels, values } = charts.histogram;\n  chartHTML.push(makeChart('hist1', {\n    type: 'bar',\n    data: { labels, datasets: [{ label: col, data: values, backgroundColor: labels.map((_,i)=>PA(i,0.75)), borderColor: P[0], borderWidth:1, borderRadius:5 }] },\n    options: { responsive:true, plugins:{ legend:{display:false}, title:{display:true,text:col+' Distribution',color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} }, scales:{ x:{ticks:{color:'#94a3b8',font:{size:10}},grid:{display:false}}, y:{ticks:{color:'#94a3b8'},grid:{color:'rgba(255,255,255,0.06)'}} } }\n  }));\n}\n\n// 5. VERTICAL BAR — Histogram for second numeric\nif (charts.histogram2) {\n  const { col, labels, values } = charts.histogram2;\n  chartHTML.push(makeChart('hist2', {\n    type: 'bar',\n    data: { labels, datasets: [{ label: col, data: values, backgroundColor: labels.map((_,i)=>PA(i+2,0.75)), borderColor: P[2], borderWidth:1, borderRadius:5 }] },\n    options: { responsive:true, plugins:{ legend:{display:false}, title:{display:true,text:col+' Distribution',color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} }, scales:{ x:{ticks:{color:'#94a3b8',font:{size:10}},grid:{display:false}}, y:{ticks:{color:'#94a3b8'},grid:{color:'rgba(255,255,255,0.06)'}} } }\n  }));\n}\n\n// 6. GROUPED BAR — Min/Mean/Max across numeric columns\nif (charts.grouped && charts.grouped.labels.length >= 2) {\n  const g = charts.grouped;\n  chartHTML.push(makeChart('grp', {\n    type: 'bar',\n    data: { labels: g.labels, datasets: [\n      { label:'Min',  data:g.mins,  backgroundColor:'rgba(46,213,115,0.7)',  borderColor:'#2ed573', borderWidth:1, borderRadius:4 },\n      { label:'Mean', data:g.means, backgroundColor:'rgba(0,210,255,0.7)',   borderColor:'#00d2ff', borderWidth:1, borderRadius:4 },\n      { label:'Max',  data:g.maxs,  backgroundColor:'rgba(255,71,87,0.7)',   borderColor:'#ff4757', borderWidth:1, borderRadius:4 }\n    ]},\n    options: { responsive:true, plugins:{ legend:{labels:{color:'#e2e8f0',font:{size:11}}}, title:{display:true,text:'Numeric Metrics — Min / Mean / Max',color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} }, scales:{ x:{ticks:{color:'#94a3b8',font:{size:10}},grid:{display:false}}, y:{ticks:{color:'#94a3b8'},grid:{color:'rgba(255,255,255,0.06)'}} } }\n  }));\n}\n\n// 7. RADAR — Completeness per numeric column\nif (meta.numCols.length >= 3) {\n  const radarCols = meta.numCols.slice(0,7);\n  chartHTML.push(makeChart('radar', {\n    type: 'radar',\n    data: { labels: radarCols, datasets: [{\n      label: 'Data Completeness %',\n      data: radarCols.map(c => numStats[c]?.completeness||0),\n      backgroundColor: 'rgba(108,92,231,0.25)',\n      borderColor: '#6c5ce7', borderWidth: 2,\n      pointBackgroundColor: '#a29bfe', pointRadius: 5\n    }]},\n    options: { responsive:true, scales:{ r:{ angleLines:{color:'rgba(255,255,255,0.1)'}, grid:{color:'rgba(255,255,255,0.1)'}, pointLabels:{color:'#cbd5e1',font:{size:10}}, ticks:{color:'#64748b',backdropColor:'transparent',font:{size:9}} } }, plugins:{ legend:{labels:{color:'#e2e8f0'}}, title:{display:true,text:'Column Completeness Radar',color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} } }\n  }));\n}\n\n// 8. POLAR AREA — Category distribution\nconst polarCat = Object.keys(catStats).find(c => catStats[c].topValues.length >= 3);\nif (polarCat) {\n  const pvs = catStats[polarCat].topValues.slice(0,6);\n  chartHTML.push(makeChart('polar', {\n    type: 'polarArea',\n    data: { labels: pvs.map(v=>v.value), datasets: [{ data: pvs.map(v=>v.count), backgroundColor: pvs.map((_,i)=>PA(i+1,0.75)), borderColor: '#0d1117', borderWidth:2 }] },\n    options: { responsive:true, scales:{ r:{ ticks:{color:'#64748b',backdropColor:'transparent'}, grid:{color:'rgba(255,255,255,0.08)'} } }, plugins:{ legend:{position:'right',labels:{color:'#e2e8f0',font:{size:10},padding:8,boxWidth:10}}, title:{display:true,text:polarCat+' (Polar)',color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} } }\n  }));\n}\n\n// 9. LINE — Doctor/Provider workload if available\nif (charts.doctor) {\n  const { col, labels, values } = charts.doctor;\n  chartHTML.push(makeChart('line', {\n    type: 'line',\n    data: { labels, datasets: [{ label: 'Patient Load', data: values, borderColor:'#fd79a8', backgroundColor:'rgba(253,121,168,0.15)', fill:true, tension:0.4, pointBackgroundColor:'#fd79a8', pointRadius:5, pointHoverRadius:8 }] },\n    options: { responsive:true, plugins:{ legend:{display:false}, title:{display:true,text:col+' Patient Load',color:'#f1f5f9',font:{size:13,weight:'bold'},padding:{bottom:10}} }, scales:{ x:{ticks:{color:'#94a3b8',font:{size:10}},grid:{display:false}}, y:{ticks:{color:'#94a3b8'},grid:{color:'rgba(255,255,255,0.06)'}} } }\n  }));\n}\n\n// ── HTML SECTIONS ────────────────────────────────────────────\n\nconst findingsHTML = (ai.findings||[]).slice(0,7).map(f=>`\n<div style=\"display:flex;gap:12px;align-items:flex-start;padding:13px 15px;background:rgba(255,255,255,0.04);border-radius:10px;border-left:3px solid ${sc(f.severity)};margin-bottom:8px\">\n  <div style=\"width:8px;height:8px;border-radius:50%;background:${sc(f.severity)};margin-top:5px;flex-shrink:0\"></div>\n  <div><div style=\"font-weight:700;font-size:13.5px;color:#f1f5f9;margin-bottom:3px\">${safe(f.title)}</div><div style=\"font-size:12.5px;color:#94a3b8\">${safe(f.detail)}</div></div>\n</div>`).join('');\n\nconst recsHTML = (ai.recommendations||[]).slice(0,6).map((r,i)=>`\n<div style=\"background:rgba(255,255,255,0.04);border:1px solid rgba(255,255,255,0.09);border-radius:12px;padding:16px;margin-bottom:10px\">\n  <div style=\"display:flex;justify-content:space-between;align-items:flex-start;margin-bottom:8px\">\n    <div style=\"font-weight:700;color:#f1f5f9;font-size:13.5px;flex:1;margin-right:10px\">${i+1}. ${safe(r.rec)}</div>\n    <span style=\"background:${sc(r.priority)};color:#fff;padding:3px 10px;border-radius:20px;font-size:11px;font-weight:800;white-space:nowrap\">${String(safe(r.priority,'medium')).toUpperCase()}</span>\n  </div>\n  <div style=\"font-size:12px;color:#64748b;margin-bottom:3px\"><span style=\"color:#a29bfe\">Category:</span> ${safe(r.category)} &nbsp;·&nbsp; <span style=\"color:#a29bfe\">Timeline:</span> ${safe(r.when)}</div>\n  <div style=\"font-size:12px;color:#94a3b8;margin-bottom:3px\"><span style=\"color:#74b9ff\">Rationale:</span> ${safe(r.rationale)}</div>\n  <div style=\"font-size:12px;color:#55efc4\">⚡ ${safe(r.impact)}</div>\n</div>`).join('');\n\nconst predsHTML = (ai.predictions||[]).slice(0,4).map(p=>`\n<div style=\"background:linear-gradient(135deg,rgba(0,210,255,0.08),rgba(108,92,231,0.08));border:1px solid rgba(0,210,255,0.2);border-radius:12px;padding:15px;margin-bottom:10px\">\n  <div style=\"font-weight:700;color:#00d2ff;font-size:13.5px;margin-bottom:6px\">🔮 ${safe(p.outcome)}</div>\n  <div style=\"font-size:12px;color:#94a3b8;margin-bottom:4px\"><b style=\"color:#a29bfe\">Probability:</b> ${safe(p.probability)} &nbsp;·&nbsp; <b style=\"color:#a29bfe\">Timeframe:</b> ${safe(p.timeframe)}</div>\n  <div style=\"font-size:12px;color:#64748b;margin-bottom:4px\"><b>Evidence:</b> ${safe(p.basis)}</div>\n  <div style=\"font-size:12px;color:#55efc4\"><b>Prevention:</b> ${safe(p.prevention)}</div>\n</div>`).join('');\n\nconst alertsHTML = (ai.alerts||topAnomalies.slice(0,5).map(a=>({who:a.record,issue:`${a.col}=${a.value} (${a.sigma}σ)`,action:'Clinical review required',urgency:Math.abs(a.sigma)>3?'immediate':'monitor'}))).slice(0,6).map(a=>`\n<div style=\"background:rgba(255,71,87,0.07);border:1px solid ${sc(a.urgency)}44;border-radius:10px;padding:13px;margin-bottom:8px;border-left:3px solid ${sc(a.urgency)}\">\n  <div style=\"font-weight:700;color:#f1f5f9;font-size:13px;margin-bottom:4px\">⚠️ ${safe(a.who)}</div>\n  <div style=\"font-size:12px;color:#94a3b8;margin-bottom:4px\">${safe(a.issue)}</div>\n  <div style=\"font-size:12px;color:${sc(a.urgency)};font-weight:600\">→ ${safe(a.action)}</div>\n</div>`).join('') || '<div style=\"padding:14px;background:rgba(46,213,115,0.1);border-radius:10px;text-align:center;color:#2ed573;font-size:13px\">✅ No critical anomaly alerts detected</div>';\n\nconst numTableRows = Object.entries(numStats).slice(0,8).map(([c,s])=>`\n<tr>\n  <td style=\"padding:10px 14px;font-size:12.5px;font-weight:600;color:#f1f5f9;border-bottom:1px solid rgba(255,255,255,0.05)\">${c}</td>\n  <td style=\"padding:10px 14px;font-size:12px;color:#94a3b8;text-align:center;border-bottom:1px solid rgba(255,255,255,0.05)\">${s.count}</td>\n  <td style=\"padding:10px 14px;font-size:12px;color:#94a3b8;text-align:center;border-bottom:1px solid rgba(255,255,255,0.05)\">${s.min}</td>\n  <td style=\"padding:10px 14px;font-size:12px;color:#94a3b8;text-align:center;border-bottom:1px solid rgba(255,255,255,0.05)\">${s.max}</td>\n  <td style=\"padding:10px 14px;font-size:12.5px;color:#00d2ff;font-weight:700;text-align:center;border-bottom:1px solid rgba(255,255,255,0.05)\">${s.mean}</td>\n  <td style=\"padding:10px 14px;font-size:12px;color:#a29bfe;text-align:center;border-bottom:1px solid rgba(255,255,255,0.05)\">${s.median}</td>\n  <td style=\"padding:10px 14px;font-size:12px;color:#94a3b8;text-align:center;border-bottom:1px solid rgba(255,255,255,0.05)\">${s.std}</td>\n  <td style=\"padding:10px 14px;text-align:center;border-bottom:1px solid rgba(255,255,255,0.05)\"><span style=\"color:${s.completeness>=90?'#2ed573':s.completeness>=70?'#ffa502':'#ff4757'};font-weight:700;font-size:12px\">${s.completeness}%</span></td>\n</tr>`).join('');\n\nconst catBarsHTML = Object.entries(catStats).slice(0,5).map(([c,s])=>`\n<div style=\"background:rgba(255,255,255,0.03);border:1px solid rgba(255,255,255,0.08);border-radius:10px;padding:16px;margin-bottom:12px\">\n  <div style=\"display:flex;justify-content:space-between;align-items:center;margin-bottom:12px\">\n    <div style=\"font-weight:700;color:#f1f5f9;font-size:13.5px\">${c}</div>\n    <span style=\"font-size:11px;color:#64748b\">${s.unique} unique · ${s.completeness}% complete</span>\n  </div>\n  ${s.topValues.slice(0,6).map((v,i)=>`\n  <div style=\"margin-bottom:8px\">\n    <div style=\"display:flex;justify-content:space-between;margin-bottom:3px\">\n      <span style=\"font-size:12.5px;color:#cbd5e1;font-weight:500\">${v.value}</span>\n      <span style=\"font-size:12px;color:#64748b\">${v.count} (${v.pct}%)</span>\n    </div>\n    <div style=\"background:rgba(255,255,255,0.06);border-radius:4px;height:6px\">\n      <div style=\"background:linear-gradient(90deg,${P[i%P.length]},${P[(i+1)%P.length]});height:6px;border-radius:4px;width:${Math.min(v.pct,100)}%;transition:width 0.3s\"></div>\n    </div>\n  </div>`).join('')}\n</div>`).join('');\n\nconst insightsHTML = (ai.insights||[]).slice(0,5).map(s=>`\n<div style=\"padding:12px 15px;background:rgba(255,255,255,0.04);border-radius:9px;margin-bottom:8px;border:1px solid rgba(255,255,255,0.07)\">\n  <div style=\"font-weight:700;color:#00d2ff;font-size:12px;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:4px\">${safe(s.col)}</div>\n  <div style=\"font-size:13px;color:#94a3b8;margin-bottom:4px\">${safe(s.finding)}</div>\n  <div style=\"font-size:12px;color:#55efc4\">→ ${safe(s.action)}</div>\n</div>`).join('');\n\nconst segsHTML = (ai.segments||[]).slice(0,4).map(seg=>`\n<div style=\"background:rgba(255,255,255,0.04);border:1px solid rgba(255,255,255,0.09);border-radius:12px;padding:15px;margin-bottom:10px\">\n  <div style=\"display:flex;justify-content:space-between;align-items:center;margin-bottom:6px\">\n    <div style=\"font-weight:700;color:#f1f5f9;font-size:13.5px\">${safe(seg.name)}</div>\n    <span style=\"background:rgba(162,155,254,0.15);color:#a29bfe;padding:3px 10px;border-radius:20px;font-size:11px;font-weight:700\">${safe(seg.size)}</span>\n  </div>\n  <div style=\"font-size:12.5px;color:#94a3b8;margin-bottom:4px\">${safe(seg.traits)}</div>\n  <div style=\"font-size:12px;color:#55efc4\"><b>Needs:</b> ${safe(seg.needs)}</div>\n</div>`).join('');\n\n// Grid the charts nicely: 2-column\nconst gridCharts = (charts) => {\n  let html = '<div class=\"charts-grid\">';\n  charts.forEach(c => { html += c; });\n  html += '</div>';\n  return html;\n};\n\n// ── FULL HTML ─────────────────────────────────────────────────\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>Health Analytics — ${rpt.date}</title>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js\"></script>\n<style>\n@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap');\n*{margin:0;padding:0;box-sizing:border-box}\nbody{font-family:'DM Sans',system-ui,sans-serif;background:#060d1a;color:#e2e8f0}\n.wrap{max-width:900px;margin:0 auto;background:#0d1117}\n\n/* HEADER */\n.hdr{background:linear-gradient(135deg,#060d1a 0%,#0f1f3d 40%,#0a1628 70%,#060d1a 100%);padding:40px 44px 32px;position:relative;overflow:hidden}\n.hdr::before{content:'';position:absolute;top:-60px;right:-60px;width:300px;height:300px;background:radial-gradient(circle,rgba(0,210,255,0.08) 0%,transparent 70%);pointer-events:none}\n.hdr::after{content:'';position:absolute;bottom:-40px;left:-40px;width:200px;height:200px;background:radial-gradient(circle,rgba(108,92,231,0.07) 0%,transparent 70%);pointer-events:none}\n.hdr-top{display:flex;justify-content:space-between;align-items:flex-start;margin-bottom:32px}\n.brand{display:flex;align-items:center;gap:16px}\n.brand-icon{width:52px;height:52px;background:linear-gradient(135deg,#00d2ff,#6c5ce7);border-radius:16px;display:flex;align-items:center;justify-content:center;font-size:26px;box-shadow:0 0 24px rgba(0,210,255,0.3)}\n.brand-name{font-size:22px;font-weight:800;color:#f8fafc;letter-spacing:-0.5px;line-height:1}\n.brand-sub{font-size:12px;color:#475569;margin-top:4px;font-family:'Space Mono',monospace}\n.rpt-badge{text-align:right}\n.rpt-id{font-family:'Space Mono',monospace;font-size:11px;color:#00d2ff;background:rgba(0,210,255,0.08);border:1px solid rgba(0,210,255,0.2);padding:5px 12px;border-radius:8px;display:inline-block}\n.rpt-dt{font-size:12px;color:#475569;margin-top:7px}\n.kpis{display:grid;grid-template-columns:repeat(4,1fr);gap:14px}\n.kpi{background:rgba(255,255,255,0.04);border:1px solid rgba(255,255,255,0.07);border-radius:14px;padding:18px;position:relative;overflow:hidden;transition:border-color 0.2s}\n.kpi::after{content:'';position:absolute;top:0;left:0;right:0;height:2px;background:var(--kc)}\n.kpi-v{font-size:32px;font-weight:900;color:#f8fafc;line-height:1;letter-spacing:-1px}\n.kpi-l{font-size:11px;color:#475569;text-transform:uppercase;letter-spacing:0.8px;margin-top:6px}\n.kpi-s{font-size:12px;margin-top:5px;font-weight:500}\n\n/* SECTIONS */\n.sec{padding:30px 44px;border-top:1px solid rgba(255,255,255,0.06)}\n.sec-dark{background:rgba(255,255,255,0.02)}\n.sh{font-size:16px;font-weight:800;color:#f1f5f9;margin-bottom:20px;display:flex;align-items:center;gap:9px;padding-bottom:12px;border-bottom:1px solid rgba(255,255,255,0.07)}\n.sh .dot{width:6px;height:6px;border-radius:50%;background:var(--ac,#00d2ff);display:inline-block}\n\n/* EXECUTIVE SUMMARY */\n.exec{background:rgba(255,255,255,0.03);border:1px solid rgba(255,255,255,0.07);border-radius:14px;padding:24px;line-height:1.9;font-size:13.5px;color:#94a3b8;margin-bottom:22px}\n\n/* RISK RING */\n.risk-wrap{text-align:center;padding:8px 0}\n.ring-outer{width:120px;height:120px;border-radius:50%;background:conic-gradient(${riskClr} 0% ${riskPct}%,rgba(255,255,255,0.08) ${riskPct}% 100%);display:flex;align-items:center;justify-content:center;margin:0 auto 12px;box-shadow:0 0 30px ${riskClr}33}\n.ring-inner{width:92px;height:92px;background:#0d1117;border-radius:50%;display:flex;flex-direction:column;align-items:center;justify-content:center}\n.ring-v{font-size:30px;font-weight:900;color:${riskClr};line-height:1;font-family:'Space Mono',monospace}\n.ring-d{font-size:11px;color:#475569}\n.ring-label{font-size:13px;font-weight:700;color:#cbd5e1;margin-top:2px}\n.ring-trend{font-size:12px;color:#64748b;margin-top:4px}\n\n/* GRID LAYOUTS */\n.g2{display:grid;grid-template-columns:1fr 1fr;gap:20px}\n.g3{display:grid;grid-template-columns:repeat(3,1fr);gap:14px}\n.charts-grid{display:grid;grid-template-columns:1fr 1fr;gap:18px;margin-bottom:18px}\n.charts-full{margin-bottom:18px}\n\n/* CHART CARDS */\n.chart-card{background:rgba(255,255,255,0.03);border:1px solid rgba(255,255,255,0.08);border-radius:14px;padding:20px;position:relative}\n.chart-card canvas{max-height:240px}\n.chart-err{color:#64748b;font-size:13px;text-align:center;padding:40px 0}\n\n/* TABLES */\ntable{width:100%;border-collapse:collapse}\nthead th{padding:10px 14px;font-size:11px;font-weight:700;color:#475569;text-transform:uppercase;letter-spacing:0.6px;background:rgba(255,255,255,0.03);border-bottom:1px solid rgba(255,255,255,0.08);text-align:center;white-space:nowrap}\nthead th:first-child{text-align:left}\n\n/* CARDS */\n.card{background:rgba(255,255,255,0.03);border:1px solid rgba(255,255,255,0.08);border-radius:12px;padding:18px}\n.card-t{font-size:11px;font-weight:700;color:#475569;text-transform:uppercase;letter-spacing:0.6px;margin-bottom:14px}\n\n/* DATA QUALITY PILL */\n.dq-pill{display:inline-block;padding:4px 12px;border-radius:20px;font-size:12px;font-weight:800}\n\n/* FOOTER */\n.ftr{background:#060d1a;border-top:1px solid rgba(255,255,255,0.07);padding:24px 44px;text-align:center;font-size:12px;color:#334155}\n.ftr strong{color:#475569}\n</style>\n</head>\n<body>\n<div class=\"wrap\">\n\n<!-- HEADER ──────────────────────────────────────── -->\n<div class=\"hdr\">\n  <div class=\"hdr-top\">\n    <div class=\"brand\">\n      <div class=\"brand-icon\">🏥</div>\n      <div>\n        <div class=\"brand-name\">HealthAnalytics Pro</div>\n        <div class=\"brand-sub\">AI Patient Intelligence Platform</div>\n      </div>\n    </div>\n    <div class=\"rpt-badge\">\n      <div class=\"rpt-id\">${rpt.id}</div>\n      <div class=\"rpt-dt\">${rpt.date} · ${rpt.time}</div>\n    </div>\n  </div>\n  <div class=\"kpis\">\n    <div class=\"kpi\" style=\"--kc:#00d2ff\">\n      <div class=\"kpi-v\">${meta.total}</div>\n      <div class=\"kpi-l\">Patient Records</div>\n      <div class=\"kpi-s\" style=\"color:#00d2ff\">${meta.columns.length} columns detected</div>\n    </div>\n    <div class=\"kpi\" style=\"--kc:${riskClr}\">\n      <div class=\"kpi-v\" style=\"color:${riskClr}\">${riskScore}<span style=\"font-size:16px;font-weight:400;color:#475569\">/10</span></div>\n      <div class=\"kpi-l\">Risk Score</div>\n      <div class=\"kpi-s\" style=\"color:${riskClr}\">${safe(ai.risk?.level,'Medium')} · ${safe(ai.risk?.trend,'Stable')}</div>\n    </div>\n    <div class=\"kpi\" style=\"--kc:${meta.completeness>=90?'#2ed573':meta.completeness>=75?'#ffa502':'#ff4757'}\">\n      <div class=\"kpi-v\" style=\"color:${meta.completeness>=90?'#2ed573':meta.completeness>=75?'#ffa502':'#ff4757'}\">${meta.completeness}<span style=\"font-size:16px\">%</span></div>\n      <div class=\"kpi-l\">Data Completeness</div>\n      <div class=\"kpi-s\" style=\"color:${meta.completeness>=90?'#2ed573':meta.completeness>=75?'#ffa502':'#ff4757'}\">${safe(ai.dataQuality?.grade,'Good')}</div>\n    </div>\n    <div class=\"kpi\" style=\"--kc:#fd79a8\">\n      <div class=\"kpi-v\" style=\"color:#fd79a8\">${topAnomalies.length}</div>\n      <div class=\"kpi-l\">Anomalies Found</div>\n      <div class=\"kpi-s\" style=\"color:#64748b\">${meta.numCols.length} numeric metrics</div>\n    </div>\n  </div>\n</div>\n\n<!-- EXECUTIVE SUMMARY ───────────────────────────── -->\n<div class=\"sec\">\n  <div class=\"sh\" style=\"--ac:#00d2ff\"><span class=\"dot\"></span>Executive Summary</div>\n  <div class=\"exec\">${safe(ai.summary,'AI analysis complete. See detailed analytics below.')}</div>\n  ${(ai.dataQuality?.issues||[]).length > 0 ? `\n  <div class=\"card\" style=\"border-color:rgba(255,165,2,0.2);background:rgba(255,165,2,0.04)\">\n    <div class=\"card-t\" style=\"color:#ffa502\">Data Quality Issues</div>\n    ${(ai.dataQuality.issues||[]).map(i=>`<div style=\"font-size:12.5px;color:#94a3b8;padding:4px 0;border-bottom:1px solid rgba(255,255,255,0.04)\">⚠️ ${i}</div>`).join('')}\n  </div>` : ''}\n</div>\n\n<!-- VISUAL DASHBOARD — CHARTS ───────────────────── -->\n<div class=\"sec sec-dark\">\n  <div class=\"sh\" style=\"--ac:#a29bfe\"><span class=\"dot\"></span>Visual Analytics Dashboard</div>\n  <div class=\"charts-grid\">\n    ${chartHTML[0]||''}\n    ${chartHTML[1]||''}\n  </div>\n  <div class=\"charts-grid\">\n    ${chartHTML[2]||''}\n    ${chartHTML[3]||''}\n  </div>\n  <div class=\"charts-grid\">\n    ${chartHTML[4]||''}\n    ${chartHTML[5]||''}\n  </div>\n  ${chartHTML.length > 6 ? `<div class=\"charts-grid\">${chartHTML[6]||''}${chartHTML[7]||''}</div>` : ''}\n  ${chartHTML.length > 8 ? `<div class=\"charts-full\"><div class=\"chart-card\">${chartHTML[8]||''}</div></div>` : ''}\n</div>\n\n<!-- KEY FINDINGS + RISK ─────────────────────────── -->\n<div class=\"sec\">\n  <div class=\"g2\">\n    <div>\n      <div class=\"sh\" style=\"--ac:#fd79a8\"><span class=\"dot\"></span>Key Findings</div>\n      ${findingsHTML||'<div style=\"color:#475569;font-size:13px\">No findings available</div>'}\n    </div>\n    <div>\n      <div class=\"sh\" style=\"--ac:#ff4757\"><span class=\"dot\"></span>Risk Assessment</div>\n      <div class=\"card\">\n        <div class=\"risk-wrap\">\n          <div class=\"ring-outer\"><div class=\"ring-inner\"><div class=\"ring-v\">${riskScore}</div><div class=\"ring-d\">/10</div></div></div>\n          <div class=\"ring-label\">${safe(ai.risk?.level,'Medium')} Risk</div>\n          <div class=\"ring-trend\">Trend: ${safe(ai.risk?.trend,'Stable')}</div>\n        </div>\n        <div style=\"margin-top:16px\">\n          <div style=\"font-size:11px;font-weight:700;color:#475569;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:9px\">Key Risk Factors</div>\n          ${(ai.risk?.factors||[]).slice(0,5).map(f=>`<div style=\"font-size:12.5px;color:#94a3b8;padding:5px 0;border-bottom:1px solid rgba(255,255,255,0.05)\">• ${f}</div>`).join('')||'<div style=\"color:#475569;font-size:12px\">None identified</div>'}\n        </div>\n        <div style=\"margin-top:14px\">\n          <div style=\"font-size:11px;font-weight:700;color:#475569;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:9px\">Vulnerable Groups</div>\n          ${(ai.risk?.groups||[]).slice(0,4).map(v=>`<div style=\"font-size:12.5px;color:#ffa502;padding:5px 0;border-bottom:1px solid rgba(255,255,255,0.05)\">• ${v}</div>`).join('')||'<div style=\"color:#475569;font-size:12px\">None identified</div>'}\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<!-- NUMERIC STATS TABLE ─────────────────────────── -->\n${Object.keys(numStats).length > 0 ? `\n<div class=\"sec sec-dark\">\n  <div class=\"sh\" style=\"--ac:#00d2ff\"><span class=\"dot\"></span>Numeric Column Statistics</div>\n  <div style=\"border-radius:12px;overflow:hidden;border:1px solid rgba(255,255,255,0.08)\">\n    <table>\n      <thead><tr>\n        <th style=\"text-align:left\">Column</th>\n        <th>Count</th><th>Min</th><th>Max</th>\n        <th style=\"color:#00d2ff\">Mean</th>\n        <th style=\"color:#a29bfe\">Median</th>\n        <th>Std Dev</th><th>Complete</th>\n      </tr></thead>\n      <tbody>${numTableRows}</tbody>\n    </table>\n  </div>\n</div>` : ''}\n\n<!-- CATEGORICAL ANALYSIS ───────────────────────── -->\n${Object.keys(catStats).length > 0 ? `\n<div class=\"sec\">\n  <div class=\"sh\" style=\"--ac:#fdcb6e\"><span class=\"dot\"></span>Categorical Column Analysis</div>\n  ${catBarsHTML}\n</div>` : ''}\n\n<!-- ALERTS ──────────────────────────────────────── -->\n<div class=\"sec sec-dark\">\n  <div class=\"sh\" style=\"--ac:#ff4757\"><span class=\"dot\"></span>Anomaly & Priority Alerts</div>\n  ${alertsHTML}\n</div>\n\n<!-- STATISTICAL INSIGHTS ────────────────────────── -->\n${insightsHTML ? `\n<div class=\"sec\">\n  <div class=\"sh\" style=\"--ac:#55efc4\"><span class=\"dot\"></span>Statistical Column Insights</div>\n  ${insightsHTML}\n</div>` : ''}\n\n<!-- PREDICTIONS ─────────────────────────────────── -->\n${predsHTML ? `\n<div class=\"sec sec-dark\">\n  <div class=\"sh\" style=\"--ac:#00d2ff\"><span class=\"dot\"></span>Predictive Health Insights</div>\n  ${predsHTML}\n</div>` : ''}\n\n<!-- RECOMMENDATIONS ─────────────────────────────── -->\n<div class=\"sec\">\n  <div class=\"sh\" style=\"--ac:#2ed573\"><span class=\"dot\"></span>Clinical Recommendations</div>\n  ${recsHTML||'<div style=\"color:#475569;font-size:13px\">No recommendations generated</div>'}\n</div>\n\n<!-- POPULATION SEGMENTS ────────────────────────── -->\n${segsHTML ? `\n<div class=\"sec sec-dark\">\n  <div class=\"sh\" style=\"--ac:#a29bfe\"><span class=\"dot\"></span>Population Segments</div>\n  ${segsHTML}\n</div>` : ''}\n\n<!-- OPERATIONAL INSIGHTS ───────────────────────── -->\n${ai.ops ? `\n<div class=\"sec\">\n  <div class=\"sh\" style=\"--ac:#fdcb6e\"><span class=\"dot\"></span>Operational Insights</div>\n  <div class=\"g2\" style=\"margin-bottom:14px\">\n    <div class=\"card\"><div class=\"card-t\">Staffing</div><div style=\"font-size:13px;color:#94a3b8;line-height:1.8\">${safe(ai.ops.staffing)}</div></div>\n    <div class=\"card\"><div class=\"card-t\">Resources</div><div style=\"font-size:13px;color:#94a3b8;line-height:1.8\">${safe(ai.ops.resources)}</div></div>\n  </div>\n  ${(ai.ops.improvements||[]).length > 0 ? `<div class=\"card\"><div class=\"card-t\">Process Improvements</div>${ai.ops.improvements.map(p=>`<div style=\"font-size:13px;color:#94a3b8;padding:6px 0;border-bottom:1px solid rgba(255,255,255,0.05)\">→ ${p}</div>`).join('')}</div>` : ''}\n</div>` : ''}\n\n<!-- CONCLUSION ──────────────────────────────────── -->\n<div class=\"sec sec-dark\">\n  <div class=\"sh\" style=\"--ac:#2ed573\"><span class=\"dot\"></span>Conclusion</div>\n  <div class=\"exec\" style=\"background:rgba(46,213,115,0.05);border-color:rgba(46,213,115,0.15)\">${safe(ai.conclusion,'Report generation complete.')}</div>\n</div>\n\n<!-- FOOTER ──────────────────────────────────────── -->\n<div class=\"ftr\">\n  <p>Generated by <strong>HealthAnalytics Pro</strong> — Powered by n8n Automation + GPT-4o AI</p>\n  <p style=\"margin-top:5px\">Report ID: ${rpt.id} · ${rpt.date} · ${rpt.time}</p>\n  <p style=\"margin-top:8px;color:#1e293b;font-size:11px\">⚠️ AI-assisted report for informational purposes only. All clinical decisions must be validated by licensed healthcare professionals.</p>\n</div>\n\n</div>\n</body>\n</html>`;\n\nreturn [{ json: {\n  htmlDashboard: html,\n  reportId: rpt.id,\n  reportDate: rpt.date,\n  totalRecords: meta.total,\n  riskLevel: safe(ai.risk?.level,'Medium'),\n  riskScore,\n  completeness: meta.completeness,\n  anomalyCount: topAnomalies.length\n}}];"
      },
      "id": "849499ea-6557-4b06-b80f-22264d11c006",
      "name": "🎨 Build HTML Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        144
      ],
      "notes": "USER SETUP: None required.\nGenerates full dark-theme HTML dashboard with:\n• Doughnut chart\n• Pie chart\n• Horizontal bar chart\n• 2× Histogram bars\n• Grouped min/mean/max bar\n• Radar completeness chart\n• Polar area chart\n• Line chart (if doctor column exists)\nAll using Chart.js CDN via jsdelivr."
    },
    {
      "parameters": {
        "sendTo": "shyampraveen005@gmail.com",
        "subject": "=🏥 Health Analytics Report — {{ $json.reportDate }} | Risk: {{ $json.riskLevel }} {{ $json.riskScore }}/10 | {{ $json.totalRecords }} Records | {{ $json.anomalyCount }} Alerts",
        "message": "={{ $json.htmlDashboard }}",
        "options": {
          "appendAttribution": false,
          "senderName": "HealthAnalytics Pro",
          "replyTo": "noreply@yourhospital.com"
        }
      },
      "id": "18ae0a2f-11f8-4229-a315-e43fbd33f9c2",
      "name": "📧 Send Report via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "5f6466a4-e05f-4c93-a6a4-9fdbd90f1fb9",
      "credentials": {
        "gmailOAuth2": {
          "id": "rsrTVDoGKI688EEN",
          "name": "Gmail OAuth2 API"
        }
      },
      "notes": "USER SETUP:\n────────────────────────────\n1. CREDENTIAL:\n   • Settings → Credentials → + New\n   • Type: Gmail OAuth2 API\n   • Sign in with Google → Authorize\n   • Ensure Send Mail permission granted\n\n2. RECIPIENT:\n   • Replace 'RECIPIENT_EMAIL@example.com'\n   • Multiple: a@b.com,c@d.com\n\n3. SENDER NAME:\n   • Change 'HealthAnalytics Pro'\n\n4. SENDER EMAIL shown = your Gmail\n\n⚠️ ONE sender active at a time:\n   Using Gmail? Keep SMTP node disabled.\n   Using SMTP? Disable this node."
    },
    {
      "parameters": {
        "jsCode": "const d = $('🎨 Build HTML Dashboard').first().json;\nconst log = {\n  status: '✅ WORKFLOW COMPLETE',\n  reportId: d.reportId,\n  reportDate: d.reportDate,\n  totalRecords: d.totalRecords,\n  riskScore: `${d.riskScore}/10 — ${d.riskLevel}`,\n  dataCompleteness: `${d.completeness}%`,\n  anomaliesDetected: d.anomalyCount,\n  emailSentAt: new Date().toISOString()\n};\nconsole.log(JSON.stringify(log, null, 2));\nreturn [{ json: log }];"
      },
      "id": "5e77cbb6-bac6-40fb-9d93-b24fb0bcfaa7",
      "name": "✅ Execution Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        144
      ],
      "notes": "USER SETUP: None required.\nLogs final execution summary.\nView in n8n → Executions tab.\n\nOptional extension:\nConnect a Slack / Teams node here\nto get instant notifications."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.15,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a clinical data analyst. Respond ONLY with valid JSON. No markdown. No code fences. No preamble. Exact structure as instructed.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.prompt}}\"\n    }\n  ]\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -496,
        496
      ],
      "id": "def1100f-34a9-4cc3-b7b0-9ffdbfa460fd",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "L6h4rbrxguvMD7Ka",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Schedule Trigger": {
      "main": [
        [
          {
            "node": "📋 Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Google Sheet": {
      "main": [
        [
          {
            "node": "🔍 Analyze All Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Analyze All Columns": {
      "main": [
        [
          {
            "node": "📝 Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Build AI Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Parse AI Response": {
      "main": [
        [
          {
            "node": "🎨 Build HTML Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Build HTML Dashboard": {
      "main": [
        [
          {
            "node": "📧 Send Report via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Report via Gmail": {
      "main": [
        [
          {
            "node": "✅ Execution Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "🔄 Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c0c5186a-da94-4cab-9b65-9a12ad7584e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2de263a96ac5f74d010f1ba1c22fd0ae70642a988dab2bf3be86e75ed4b8876c"
  },
  "id": "eSPTKBS9fl8heMu3",
  "tags": [
    {
      "updatedAt": "2026-04-28T16:05:31.717Z",
      "createdAt": "2026-04-28T16:05:31.717Z",
      "id": "1JCRkvual0QZuSWm",
      "name": "Healthcare"
    },
    {
      "updatedAt": "2026-04-29T14:17:25.448Z",
      "createdAt": "2026-04-29T14:17:25.448Z",
      "id": "8kwLc9EhEAmZCrGl",
      "name": "Dashboard"
    },
    {
      "updatedAt": "2026-04-28T16:05:31.767Z",
      "createdAt": "2026-04-28T16:05:31.767Z",
      "id": "JAlDLudVSOEFD2F0",
      "name": "AI-Powered"
    },
    {
      "updatedAt": "2026-04-28T16:05:31.744Z",
      "createdAt": "2026-04-28T16:05:31.744Z",
      "id": "v5j1yMHyboJl8dq7",
      "name": "Analytics"
    }
  ]
}